.progress-bar > .track {
    -fx-control-inner-background: #383838;
    -fx-background-insets: 0;
    -fx-background-radius:0;
}

.progress-bar > .bar {
    -fx-background-insets: 0;
    -fx-background-radius:0;
    -fx-padding: 2px;
    -fx-accent: salmon;
}
