.tab-pane {
    -fx-padding: 0;
    -fx-background-color: derive(#383838, 20%);
    -fx-alignment: CENTER;
}

.tab-pane:top *.tab-header-area {
    -fx-padding: 0;
    -fx-background-color: #ebd0ce;
    -fx-progress-color: #ebd0ce;
    -fx-alignment: center;
}

.tab {
    -fx-background-color: #383838;
    -fx-padding: 10 10 10 10;
    -fx-border-width: 4px 2px;
    -fx-border-color: white;
    -fx-min-width: 100px;
    -fx-focus-color: transparent;
    -fx-faint-focus-color: transparent;
}

.tab:selected {
    -fx-border-width:  4px 2px;
    -fx-border-color: white white salmon white;
}

.tab:selected .tab-label {
    -fx-font-weight: bolder;
    -fx-text-fill: salmon;
}

.tab-label {
    -fx-text-fill: #878787;
    -fx-font-family: "Segoe UI Light";
    -fx-font-size: 20;
    -fx-alignment: center;
}

/* remove dropdown bottom */
.tab-down-button {
    -fx-padding: 0;
}
.tab-down-button .arrow {
    -fx-padding: 0;
}
