.tab-pane {
    -fx-margin: 0 -15 0 5;
    -fx-padding: 0 0 0 7;
    -fx-background-color: #313133;
    -fx-alignment: CENTER;
}

.tab-pane:top *.tab-header-area {
    -fx-margin: 0 -15 0 5;
    -fx-padding: 0;
    -fx-background-color: #ebd0ce;
    -fx-progress-color: #ebd0ce;
    -fx-alignment: center;
}

.tab-header-background {
    -fx-background-color: #313133;
}


.tab {
    -fx-background-color: #313133;
    -fx-padding: 11 0 13 0;
    -fx-border-width: 1px 1.5px 2px 1px;
    -fx-border-color: #313133 #e5e5e5 #e5e5e5 #313133;
    -fx-min-width: 100px;
    -fx-focus-color: transparent;
    -fx-faint-focus-color: transparent;
    -fx-open-tab-animation: NONE;
    -fx-close-tab-animation: NONE;
}

.tab-label {
    -fx-text-fill: #e5e5e5;
    -fx-font-family: "Open Sans";
    -fx-font-size: 16;
    -fx-alignment: center;
}

.tab:selected {
    -fx-border-width: 1px 1.5px 2px 1px;
    -fx-border-color: #313133 #e5e5e5 salmon #313133;
}

.tab:selected .tab-label {
    -fx-font-weight: bold;
    -fx-text-fill: salmon;
}

/* remove dropdown bottom */
.tab-down-button {
    -fx-padding: 0;
}
.tab-down-button .arrow {
    -fx-padding: 0;
}

#helpTab {
    -fx-border-width: 1px 1px 2px 0px;
    -fx-border-color: #313133 #313133 #e5e5e5 #e5e5e5;
}

#helpTab:selected {
    -fx-border-width: 1px 1px 2px 0px;
    -fx-border-color: #313133 #313133 salmon #e5e5e5;
}
