.background {
    -fx-background-color: black;
    background-color: #383838; /* Used in the default.html file */
}

.label {
    -fx-font-size: 11pt;
    -fx-font-family: "Segoe UI Semibold";
    -fx-text-fill: #555555;
    -fx-opacity: 0.9;
}



.date-pane {
    -fx-background-color: #C7CEEA;
    -fx-border-width: 3px;
    -fx-border-color: black;
    -fx-background-radius: 10px;
}

.date-header {
    -fx-background-color:  #211463;
    -fx-border-width: 3px;
    -fx-border-color: black;
    -fx-background-radius: 10px;
}

.date-header .label {
    -fx-font-family: Impact;
}


.label-bright {
    -fx-font-size: 11pt;
    -fx-font-family: "Segoe UI Semibold";
    -fx-text-fill: white;
    -fx-opacity: 1;
}

.label-header {
    -fx-font-size: 32pt;
    -fx-font-family: "Segoe UI Light";
    -fx-text-fill: white;
    -fx-opacity: 1;
}

.no-modules {
    -fx-color-label-visible: white;
    -fx-font-size: 25px;
    -fx-alignment: center;
    -fx-text-alignment: center;
    -fx-padding: 25px;
}

.text-field {
    -fx-font-size: 12pt;
    -fx-font-family: "Segoe UI Semibold";
}

.tab-pane:top *.tab-header-area {
    -fx-background-insets: 0, 0 0 1 0;
    /* -fx-padding: 0.416667em 0.166667em 0.0em 0.833em; /* 5 2 0 10 */
    -fx-padding: 0.416667em 0.166667em 0.0em 0.0em; /* overridden as 5 2 0 0 */
    -fx-background-color: black;
}

.tab-pane .tab-header-area .tab-header-background {
    -fx-opacity: 0;
    -fx-background-color: black;
}


.tab {
    -fx-background-insets: 0 1 0 1,0,0;
    -fx-padding: 2px 50px;
}
.tab-pane .tab {
    -fx-background-color: #e6e6e6;
}

.tab-pane .tab:selected {
    -fx-background-color: #3c3c3c;
}

.tab .tab-label {
    -fx-alignment: CENTER;
    -fx-text-fill: #828282;
    -fx-font-size: 12px;
    -fx-font-weight: bold;
    -fx-font-family: Helvetica;
}

.tab:selected .tab-label {
    -fx-alignment: CENTER;
    -fx-text-fill: white;
}


.table-view {
    -fx-base: #000000;
    -fx-control-inner-background: #000000;
    -fx-background-color: #000000;
    -fx-table-cell-border-color: transparent;
    -fx-table-header-border-color: transparent;
    -fx-padding: 5;
}

.table-view .column-header-background {
    -fx-background-color: transparent;
}

.table-view .column-header, .table-view .filler {
    -fx-size: 35;
    -fx-border-width: 0 0 1 0;
    -fx-background-color: transparent;
    -fx-border-color:
        transparent
        transparent
        derive(-fx-base, 80%)
        transparent;
    -fx-border-insets: 0 10 1 0;
}

.table-view .column-header .label {
    -fx-font-size: 20pt;
    -fx-font-family: "Segoe UI Light";
    -fx-text-fill: white;
    -fx-alignment: center-left;
    -fx-opacity: 1;
}

.table-view:focused .table-row-cell:filled:focused:selected {
    -fx-background-color: -fx-focus-color;
}

.split-pane:horizontal .split-pane-divider {
    -fx-background-color: black;
    -fx-border-color: transparent transparent transparent #4d4d4d;
}

.split-pane {
    -fx-border-radius: 1;
    -fx-border-width: 1;
    -fx-background-color: black;
}

.list-view {
    -fx-padding: 0;
    -fx-background-color: black;
    -fx-background-radius: 15px;
}

.module {
    -fx-padding: 0.25em 0.583em 0.25em 0.583em; /* 3 7 3 7 */
}

.list-cell {
    -fx-background-radius: 15;
    -fx-label-padding: 0 0 0 0;
    -fx-graphic-text-gap : 0;
}

.list-cell:filled {
    -fx-background-color: #211463;
    -fx-border-width: 5px;
    -fx-border-color: black;
    -fx-border-radius: 15px;
    -fx-background-radius: 30px;
}

.list-cell:empty {
    -fx-background-color: transparent;
}

.list-cell:filled:selected #cardPane {
    -fx-border-color: #3e7b91;
    -fx-border-width: 1;
    -fx-padding: 0px;
}


.activity_big_label {
    -fx-font-family: "Verdana";
    -fx-text-fill: #303030;
    -fx-font-size: 15px;
    -fx-color-label-visible: black;
    -fx-font-weight: bold;
}


.activity_priority_label {
    -fx-font-family: "Impact";
    -fx-font-size: 15px;
    -fx-color-label-visible: black;
    -fx-font-weight: bold;
    -fx-text-alignment: right;
}


.activity_small_label {
    -fx-text-fill: #303030;
    -fx-font-family: "Verdana";
    -fx-font-size: 10px;
}

.activity-label {
    -fx-text-fill: white;
    -fx-font-family: "Verdana";
    -fx-font-size: 15px;
}

.check-box .box {
    -fx-border-radius: 100px;
    -fx-background-radius: 100px;
    -fx-border-color: white;
}

.check-box:selected .mark {
    -fx-background-color: black;
}

.cell_big_label {
    -fx-font-family: "Impact";
    -fx-font-size: 20px;
    -fx-text-fill: white;
    -fx-padding: 10 10 10 10;
}

.cell_small_label {
    -fx-font-family: "Segoe UI";
    -fx-font-size: 13px;
    -fx-text-fill: #010504;
}

.stack-pane {
     -fx-background-color: black;
}

.pane-with-border {
     -fx-background-color: black;
     -fx-border-color: derive(#000000, 10%);
     -fx-border-top-width: 1px;
}

.pane-with-rounded-border {
    -fx-background-color: white;
    -fx-border-color: derive(#000000, 10%);
    -fx-border-top-width: 1px;
    -fx-border-radius: 25;
    -fx-background-radius: 25;
}

.transparent-pane {
    -fx-background-color: transparent;
}

.status-bar {
    -fx-background-color: derive(#000000, 30%);
}

.result-display {
    -fx-background-radius: 15;
    -fx-background-color: transparent;
    -fx-font-family: "Helvetica";
    -fx-font-size: 12pt;
    -fx-text-fill: black;
}

.result-display .label {
    -fx-text-fill: black !important;
}

.status-bar .label {
    -fx-font-family: "Segoe UI Light";
    -fx-text-fill: white;
    -fx-padding: 4px;
    -fx-pref-height: 30px;
}

.status-bar-with-border {
    -fx-background-color: derive(#000000, 30%);
    -fx-border-color: derive(#000000, 25%);
    -fx-border-width: 1px;
}

.status-bar-with-border .label {
    -fx-text-fill: white;
}

.grid-pane {
    -fx-background-color: derive(#000000, 30%);
    -fx-border-color: derive(#000000, 30%);
    -fx-border-width: 1px;
}

.grid-pane .stack-pane {
    -fx-background-color: derive(#000000, 30%);
}

.context-menu {
    -fx-background-color: derive(#000000, 50%);
}

.context-menu .label {
    -fx-text-fill: white;
}

.menu-bar {
    -fx-background-color: black;
}

.menu-bar .label {
    -fx-font-size: 10pt;
    -fx-font-family: "Microsoft Sans Serif";
    -fx-text-fill: white;
    -fx-opacity: 0.9;
    -fx-text-alignment: center;

}

.menu-button {
    -fx-min-width: 50;
}

.menu .left-container {
    -fx-background-color: black;
}

/*
 * Metro style Push Button
 * Author: Pedro Duque Vieira
 * http://pixelduke.wordpress.com/2012/10/23/jmetro-windows-8-controls-on-java/
 */
.button {
    -fx-padding: 5 22 5 22;
    -fx-border-color: #e2e2e2;
    -fx-border-width: 2;
    -fx-background-radius: 0;
    -fx-background-color: #000000;
    -fx-font-family: "Segoe UI", Helvetica, Arial, sans-serif;
    -fx-font-size: 11pt;
    -fx-text-fill: #d8d8d8;
    -fx-background-insets: 0 0 0 0, 0, 1, 2;
}

.button:hover {
    -fx-background-color: black;
}

.button:pressed, .button:default:hover:pressed {
  -fx-background-color: white;
  -fx-text-fill: #000000;
}

.button:focused {
    -fx-border-color: white, white;
    -fx-border-width: 1, 1;
    -fx-border-style: solid, segments(1, 1);
    -fx-border-radius: 0, 0;
    -fx-border-insets: 1 1 1 1, 0;
}

.button:disabled, .button:default:disabled {
    -fx-opacity: 0.4;
    -fx-background-color: #000000;
    -fx-text-fill: white;
}

.button:default {
    -fx-background-color: -fx-focus-color;
    -fx-text-fill: #ffffff;
}

.button:default:hover {
    -fx-background-color: derive(-fx-focus-color, 30%);
}

.dialog-pane {
    -fx-background-color: #000000;
}

.dialog-pane > *.button-bar > *.container {
    -fx-background-color: #000000;
}

.dialog-pane > *.label.content {
    -fx-font-size: 14px;
    -fx-font-weight: bold;
    -fx-text-fill: white;
}

.dialog-pane:header *.header-panel {
    -fx-background-color: derive(#000000, 25%);
}

.dialog-pane:header *.header-panel *.label {
    -fx-font-size: 18px;
    -fx-font-style: italic;
    -fx-fill: white;
    -fx-text-fill: white;
}

.scroll-bar {
    -fx-background-color: transparent;
}

.scroll-bar .thumb {
    -fx-background-color: transparent;
    -fx-background-insets: 3;
}

.scroll-bar .increment-button, .scroll-bar .decrement-button {
    -fx-background-color: transparent;
    -fx-padding: 0 0 0 0;
}

.scroll-bar .increment-arrow, .scroll-bar .decrement-arrow {
    -fx-shape: " ";
}

.scroll-bar:vertical .increment-arrow, .scroll-bar:vertical .decrement-arrow {
    -fx-padding: 0;
}

.scroll-bar:horizontal .increment-arrow, .scroll-bar:horizontal .decrement-arrow {
    -fx-padding: 0;
}

#activityPane {
    -fx-border-width: 0;
    -fx-background-radius: 15;
    -fx-padding: 10px;
}

.activity-pane {
    -fx-border-width: 0;
    -fx-background-radius: 15;
    -fx-padding: 10px;
    -fx-background-color: orange;
}


#activityListView {
    -fx-background-color: transparent;
    -fx-border-width: 0;
    -fx-background-radius: 15;
}

#activityListView .list-cell{
    -fx-background-color: transparent;
    -fx-border-width: 0;
    -fx-background-radius: 15;
}


#pieChart, #barChart {
    -fx-background-radius: 15px;
    -fx-background-color: white;
}

#eventListView .list-cell {
    -fx-padding: 10px;
}


.default-color0.chart-bar { -fx-pie-color: #FF9AA2; }
.default-color2.chart-bar { -fx-pie-color: #FFDAC1; }
.default-color3.chart-bar { -fx-pie-color: #E2F0CB; }
.default-color4.chart-bar { -fx-pie-color: #B5EAD7; }
.default-color5.chart-bar { -fx-pie-color: #C7CEEA; }

.default-color0.chart-pie { -fx-pie-color: #FF9AA2; }
.default-color2.chart-pie { -fx-pie-color: #FFDAC1; }
.default-color3.chart-pie { -fx-pie-color: #E2F0CB; }
.default-color4.chart-pie { -fx-pie-color: #B5EAD7; }
.default-color5.chart-pie { -fx-pie-color: #C7CEEA; }

#modulePane {
     -fx-border-width: 0;
    -fx-padding: 0;
    -fx-min-width: 200;
 }

#commandTypeLabel {
    -fx-font-size: 11px;
    -fx-text-fill: #F70D1A;
}

#commandTextField {
    -fx-background-radius: 15;
    -fx-background-color: white;
    -fx-background-insets: 0;
    -fx-border-color: #383838;
    -fx-border-insets: 0;
    -fx-border-radius: 15;
    -fx-border-width: 1;
    -fx-font-family: "Segoe UI Light";
    -fx-font-size: 13pt;
    -fx-text-fill: black;
}

#filterField, #personListPanel, #personWebpage {
    -fx-effect: innershadow(gaussian, black, 10, 0, 0, 0);
}

#resultDisplay .content {
    -fx-background-color: white;
    -fx-background-radius: 20;
}

.calendar-header {
    -fx-alignment: center;
}

#tags {
    -fx-hgap: 7;
    -fx-vgap: 3;
}

#tags .label {
    -fx-text-fill: white;
    -fx-background-color: #3e7b91;
    -fx-padding: 1 3 1 3;
    -fx-border-radius: 2;
    -fx-background-radius: 2;
    -fx-font-size: 11;
}

.calendarGrid .grid-pane {
    -fx-border-color: green;
    -fx-border-width: 2px;
}

.calendarGrid .label {
    -fx-text-fill: white;
}
.grid-pane {


-fx-background-fill: black, white ;
-fx-background-insets: 0, 0 1 1 0 ;
}

.highlight_label {
    -fx-background-color: lightblue;
    -fx-text-fill: black;
    -fx-font-size: 30;
    -fx-font-family: fantasy;
    -fx-border-radius: 10;
    -fx-background-radius: 10;
}

.hint_label {
    -fx-background-color: white;
    -fx-text-fill: black;
    -fx-font-size: 15;
    -fx-border-radius: 4;
    -fx-background-radius: 4;
}
