
.error {
    -fx-text-fill: #d06651 !important; /* The error class should always override the default text-fill style */
}

.list-cell:empty:even {
    -fx-pref-height: 100px;
    -fx-background-color: derive(#424d5f, 20%);
    -fx-border-color: grey;
}

.list-cell:empty:odd {
    -fx-pref-height: 100px;
    -fx-background-color: derive(#424d5f, 20%);
    -fx-border-color: grey;
}

.tag-selector {
    -fx-border-width: 1;
    -fx-border-color: white;
    -fx-border-radius: 3;
    -fx-background-radius: 3;
}

.tooltip-text {
    -fx-text-fill: white;
}
