@font-face {
    font-family: "Roboto Medium";
    font-style: normal;
    font-weight: 600;
    src: local("Roboto Medium"),
    url("../fonts/Roboto-Medium.ttf") format("truetype");
}

@font-face {
    font-family: "Roboto Medium Italic";
    font-style: italic;
    font-weight: 600;
    src: local("Roboto Medium Italic"),
    url("../fonts/Roboto-MediumItalic.ttf") format("truetype");
}

@font-face {
    font-family: "Roboto Regular";
    font-style: normal;
    font-weight: 500;
    src: local("Roboto Regular"),
    url("../fonts/Roboto-Regular.ttf") format("truetype");
}

@font-face {
    font-family: "Roboto Italic";
    font-style: italic;
    font-weight: 500;
    src: local("Roboto Italic"),
    url("../fonts/Roboto-Italic.ttf") format("truetype");
}

@font-face {
    font-family: "Roboto Bold";
    font-style: normal;
    font-weight: 700;
    src: local("Roboto Bold"), url("../fonts/Roboto-Bold.ttf") format("truetype");
}

@font-face {
    font-family: "Roboto Bold Italic";
    font-style: italic;
    font-weight: 700;
    src: local("Roboto Bold Italic"),
    url("../fonts/Roboto-BoldItalic.ttf") format("truetype");
}

.background {
    -fx-background-color: white;
}

.label {
    -fx-font-family: "Roboto Regular";
    -fx-text-fill: #555555;
    -fx-opacity: 0.9;
}

.label-bright {
    -fx-font-size: 11pt;
    -fx-font-family: "Roboto Regular";
    -fx-text-fill: white;
    -fx-opacity: 1;
}

.label-header {
    -fx-font-size: 32pt;
    -fx-font-family: "Roboto Regular";
    -fx-text-fill: white;
    -fx-opacity: 1;
}

.text-field {
    -fx-font-size: 12pt;
    -fx-font-family: "Roboto Regular";
}

.split-pane:horizontal .split-pane-divider {
    -fx-padding: 0 0 0 0;
    -fx-border-color: #f7f6f3;
}

.split-pane {
    -fx-background-color: #e8e7e4;
}

.tree-view {
    -fx-background-insets: 0;
    -fx-padding: 0;
}

.tree-cell {
    -fx-background-color: #e0e8f9;
    -fx-pref-height: 36px;
    -fx-font-family: "Roboto Medium";
    -fx-font-weight: 600;
    -fx-font-style: normal;
    -fx-text-fill: #19216c;
    -fx-font-size: 13px;
    -fx-padding: 0px;
}

.tree-cell:filled:selected {
    -fx-background-color: #bed0f7;
    -fx-font-family: "Roboto Medium";
    -fx-text-fill: #19216c;
}

.tree-cell .label {
    -fx-font-family: "Roboto Medium";
    -fx-text-fill: black;
}

.tree-cell .tree-disclosure-node {
    -fx-pref-height: 36px;
    -fx-padding: 0 16 0 16;
}

.tree-cell .tree-disclosure-node .arrow {
    -fx-shape: null;
    -fx-pref-width: 8px;
    -fx-pref-height: 8px;
    -fx-alignment: center;
    -fx-background-image: url("../images/cheveron-collapse.png");
    -fx-background-color: null;
    -fx-background-size: contain, auto;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center center;
}

.tree-cell:expanded .tree-disclosure-node .arrow {
    -fx-shape: null;
    -fx-rotate: null;
    -fx-pref-width: 8px;
    -fx-pref-height: 8px;
    -fx-background-image: url("../images/cheveron-expand.png");
    -fx-background-color: null;
    -fx-background-size: contain, auto;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center center;
}

.cell_small_label {
    -fx-font-family: "Roboto Regular";
    -fx-font-size: 13px;
    -fx-text-fill: #010504;
}

.stack-pane {
    -fx-background-color: white;
}

.commandBox-pane {
    -fx-background-color: white;
    -fx-border-color: white;
}

.note-block-pane {
    -fx-background-color: white;
    -fx-border-color: white;
}

.status-bar {
    -fx-background-color: #f7f6f3;
    -fx-border-color: #f7f6f3;
    -fx-border-width: 0px;
}

.status-bar .label {
    -fx-font-family: "Roboto Regular";
    -fx-font-weight: 500;
    -fx-text-fill: black;
    -fx-padding: 0 0 0 5;
    -fx-pref-height: 30px;
}

.stack-pane {
    -fx-background-color: white;
}

/*
 * Metro style Push Button
 * Author: Pedro Duque Vieira
 * http://pixelduke.wordpress.com/2012/10/23/jmetro-windows-8-controls-on-java/
 */

.button {
    -fx-padding: 5 22 5 22;
    -fx-border-color: #e2e2e2;
    -fx-border-width: 2;
    -fx-background-radius: 0;
    -fx-background-color: #e0e8f9;
    -fx-font-family: "Roboto Regular";
    -fx-font-size: 11pt;
    -fx-text-fill: #19216c;
    -fx-background-insets: 0 0 0 0, 0, 1, 2;
}

.button:hover {
    -fx-background-color: #bed0f7;
}

.button:pressed,
.button:default:hover:pressed {
    -fx-background-color: #bed0f7;
    -fx-text-fill: #e8e7e4;
}

.button:focused {
    -fx-border-color: white, white;
    -fx-border-width: 1, 1;
    -fx-border-style: solid, segments(1, 1);
    -fx-border-radius: 0, 0;
    -fx-border-insets: 1 1 1 1, 0;
}

.button:disabled,
.button:default:disabled {
    -fx-opacity: 0.4;
    -fx-background-color: #e8e7e4;
    -fx-text-fill: white;
}

.button:default {
    -fx-background-color: -fx-focus-color;
    -fx-text-fill: #ffffff;
}

.button:default:hover {
    -fx-background-color: derive(-fx-focus-color, 30%);
}

.dialog-pane {
    -fx-background-color: #e8e7e4;
}

.dialog-pane > *.button-bar > *.container {
    -fx-background-color: #e8e7e4;
}

.dialog-pane > *.label.content {
    -fx-font-size: 14px;
    -fx-font-weight: bold;
    -fx-text-fill: black;
}

.dialog-pane:header *.header-panel {
    -fx-background-color: #e8e7e4;
}

.dialog-pane:header *.header-panel *.label {
    -fx-font-size: 18px;
    -fx-font-style: italic;
    -fx-fill: white;
    -fx-text-fill: black;
}

.scroll-bar {
    -fx-background-color: #f7f6f3;
}

.scroll-bar .thumb {
    -fx-background-color: derive(#a9a9a9, 50%);
    -fx-background-radius: 10px;
    -fx-border-radius: 10px;
    -fx-background-insets: 3;
}

.scroll-bar .thumb:hover {
    -fx-background-color: #a9a9a9;
}

.scroll-bar .increment-button,
.scroll-bar .decrement-button {
    -fx-background-color: transparent;
    -fx-padding: 0 0 0 0;
}

.scroll-bar .increment-arrow,
.scroll-bar .decrement-arrow {
    -fx-shape: " ";
}

.scroll-bar:vertical .increment-arrow,
.scroll-bar:vertical .decrement-arrow {
    -fx-padding: 1 8 1 8;
}

.scroll-bar:horizontal .increment-arrow,
.scroll-bar:horizontal .decrement-arrow {
    -fx-padding: 8 1 8 1;
}

.suggestions-Window {
    -fx-background-color: #f5f7fa;
    -fx-background-radius: 8px;
    -fx-padding: 0 8 0 8;
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.25), 8, 0, 0, 1);
}

#commandTypeLabel {
    -fx-background-color: white;
    -fx-font-size: 11px;
    -fx-text-fill: black;
}

#commandTextField {
    -fx-background-color: #e4e7eb;
    -fx-background-radius: 8px;
    -fx-border-color: transparent;
    -fx-border-width: 2px;
    -fx-border-radius: 8px;
    -fx-font-family: "Roboto Regular";
    -fx-font-size: 15px;
    -fx-text-fill: black;
    -fx-padding: 6 8 6 8;
}

#commandTextField:focused {
    -fx-border-color: #7b93db;
}

#responseText {
    -fx-font-family: "Roboto Regular";
    -fx-font-size: 13px;
    -fx-text-fill: #616e7c;
    -fx-padding: 8 8 8 8;
    -fx-pref-height: 36px;
}

#blockContentTextArea {
    -fx-text-box-border: transparent;
    -fx-font-size: 12pt;
    -fx-font-family: "Open Sans";
    -fx-focus-color: white;
    -fx-control-inner-background: white;
    -fx-faint-focus-color: white;
    -fx-control-inner-background: white;
}

.block-edit-modal {
    -fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, 0.8), 10, 0, 0, 0);
}

.list-view .scroll-bar:vertical {
    -fx-scale-x: 0;
}

.list-view {
    -fx-background-insets: 0;
    -fx-background-color: transparent;
    -fx-padding: 0;
}

.list-cell:empty {
    -fx-opacity: 0;
}

.list-cell {
    -fx-background-color: transparent;
    -fx-pref-height: 36px;
}

.list-cell:filled:selected {
    -fx-background-color: #e4e7eb;
    -fx-background-radius: 8;
    -fx-border-radius: 8;
    -fx-text-fill: black;
}

#filterField {
    -fx-effect: innershadow(gaussian, black, 10, 0, 0, 0);
}

#blockContentDisplay {
    -fx-font-family: Roboto Regular;
    -fx-font-size: 13px;
}

#sideBar {
    -fx-background-color: #e0e8f9;
}

#notablyLogo {
    -fx-background-color: #e0e8f9;
    -fx-font-family: "Roboto Medium";
    -fx-font-size: 12px;
    -fx-text-fill: #19216c;
    -fx-pref-height: 36px;
    -fx-min-height: 36px;
    -fx-padding: 0 16px 0 16px;
}


#blockTitleDisplay {
    -fx-font-family: "Roboto Bold";
    -fx-font-size: 32;
    -fx-text-fill: black;
}

#blockPathDisplay {
    -fx-font-family: "Roboto Medium";
    -fx-font-size: 14;
    -fx-text-fill: #616e7c;
}

#searchFrequencyLabel {
    -fx-font-family: "Roboto Medium";
}

.helpWindow {
    -fx-background-color: white;
}

.helpLabel {
    -fx-text-fill: black;
}
