.root { -fx-background-color: cornsilk; -fx-padding: 15; }

.progress-bar {
-fx-box-border: black;
-fx-control-inner-background: #383838;
}

.progress-bar .bar {
-fx-padding: 8px;
}

.green-bar  { -fx-accent: green;  }
.yellow-bar { -fx-accent: yellow; }
.orange-bar { -fx-accent: orange; }
.red-bar    { -fx-accent: red;    }
